.logo-box{
  float: left;
}
.logo-box a {
    display: block;
    padding: 26px 0px;
}
.home-content {
    padding: 0px !important;
    background-color: white;
}
.sl-banner-inner{
background-image: url(./../img/banner.jpg);
min-height: 350px;
background-repeat: no-repeat;
}

.featured-box {
    height: 100%;
    background: #efe7d2;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #6f1412;
    box-shadow: 0px 17px 21px -19px #585747;
}
.featured-box h3, .featured-box h3 a {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 700;
    color: #930509;
}
.featured-box .separator_img {
    width: 204px;
}
.flex-row{
  display: flex;
  flex-wrap: wrap;
}
.fullwidth-section.dark-bg {
    background-color: #ececec;
    padding: 80px 0px;
    background: url(./../img/service-bg.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}
.block-heading{
  text-align: center;
}
.block-content p{

}
.fullwidth-section .col-md-5{
  padding: 0px
}
.block-heading h3 {
    color: #e9373c;
    margin-bottom: 18px;
    text-shadow: 1px 1px 0px #ffffff;
    margin-top: 2px;
}
.sidebar-link .link-btn {
    display: block;
    background-color: #550d0c;
    margin-bottom: 30px;
    padding: 20px 10px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 14px;
    border: 2px solid #a7a58d;
    background: #711614;
    background: -moz-linear-gradient(top, #711614 0%, #6b1412 44%, #430807 100%);
    background: -webkit-linear-gradient(top, #711614 0%,#6b1412 44%,#430807 100%);
    background: linear-gradient(to bottom, #711614 0%,#6b1412 44%,#430807 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#711614', endColorstr='#430807',GradientType=0 );
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}
.judge-list li {
    border-bottom: 1px solid #a09f9f14;
    padding: 10px;
    margin-bottom: 0px;
    color: #404040;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    background-color: #f7f7f7;
}
.judge-list li:nth-child(2n) {
    background-color: white;
}

.about {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.welcomeWrap h1 {
    font-size: 29px !important;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 38px;
    margin-top: 0px
}
.welcomeWrap h1::before {
    content: "";
    position: absolute;
    width: 20%;
    margin: 0 auto;
    height: 1px;
    background-color: #e9373c;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.welcomeWrap h1::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #e9373c;
    transform: rotate(45deg);
    bottom: -4px;
    background-color: #ffffff;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
h1 span {
    color: #e9373c;
    font-weight: bold;
}
.welcomeWrap p {
    font-size: 15px;
    line-height: 28px;
    color: #464343;
    margin: 30px 0px;
}
.welImg {
    position: absolute;
    top: 83px;
    right: 0;
    width: 50%;
}
.welImg span {
    display: inline-block;
    position: relative;
}
.welImg span:before {
    content: "";
    border: 1px solid #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}
.welcomeWrap {
    padding: 70px 0;
    position: relative;
}
.featured-links a {
    background: #cc8809;
    font-size: 12px;
    color: #e9373c;
    border: 2px solid #e9373c;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: 9px 19px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 0 0 2em #fff inset;
}
.featured-links a:hover {
    background: #e9373c;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 0 0px #731215 inset;
}
.view-block {
    padding: 20px;
    color: #3c3c3c;
    height: 100%;
    border-top: 5px solid #ff9da0;
    background-color: white;
}
.center-item {
    justify-content: center;
}
.judge-list {
    list-style-type: none;
    padding: 0px;
    max-width: 422px;
    margin: 0 auto !important;
}
.links-section {
    padding: 80px 0px;
}
.link-box {
}
.link-box:hover{
transform: scale(1);
}
.link-box a {
    display: flex;
    border: 1px solid #f1f1f1;
    text-align: left;
    align-items: center;
    background-color: #f9f9f9;
    margin-left: 10px;
    margin-right: 10px;
}
.link-box i {
    background-color: #e9373c;
    color: white;
    padding: 13px 18px;
    margin-right: 22px;
    font-size: 28px;
}
.link-box span {
    font-size: 14px;
    font-weight: 600;
    color: #3c3939;
}
.footer {
    background-color: #f9f9f9;
    color: #2d2c2c;
    background-image: url(./../images/header-bg.jpg);
    position: relative;
    border-top: 3px solid #f1f1f1;
}
.footer-bottom .footer-menu li {
    font-size: 13px;
    display: inline;
}
.footer-bottom .footer-menu li.active a {
    color: #ffffff;
    opacity: 1;
}
.footer-bottom .footer-menu li + li:before {
    content: '•';
    margin: 0 8px;
}
.footer > .container, .footer > .container-fluid {
    padding-top: 55px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
}
.footer .widget-title {
    font: 400 15px/1.1 "Montserrat", Arial, sans-serif;
    margin: 2px 0 15px;
    text-transform: uppercase;
    color: #2d2c2c;
    font-weight: 600;
}
.footer-bottom {
    background-color: #e9373c;
    color: #f3d0d0;
    font-size: 11px;
}
.footer-bottom ul, .footer-bottom p{
  margin-bottom: 0px
}
.fa-ul {
    margin-left: 23px;
    margin-bottom: 20px;
    padding: 0px;
    list-style-type: none;
}
.footer .fa-ul li {
    margin-bottom: 9px;
    position: relative;
}
.footer a {
      color: #ce2327;

}
.footer .footer-menu a {
    color: #ffffff;
    opacity: .7;
    font-size: 12px;
}
.fa-ul li .fa-li {
    left: -23px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    position: absolute;
}
.saerch-product {
    background-color: rgba(19, 19, 19, 0.45);
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: auto;
    width: 100%;
}
.saerch-product-inner {
    display: flex;
    max-width: 800px;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
}
.search-box {
    flex: 1;
}
.search-box input {
    height: 40px;
}
.sl-banner{
  position: relative;
}
.sl-banner img {
    max-width: 100%;
    width: 100%;
}
.search-btn {
    border: 2px solid #ffffffba !important;
    background-color: #e9373c !important;
    height: 40px;
}
.block2 {
    background-image: url(./../img/Difference-Between-Act-and-Bill-toprankers.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 431px;
    border-left: 1px solid #f1f1f1;
}

.tab-content .input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative !important;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1% !important;
    margin-bottom: 0;
}
.middle-text {
    font-weight: 600;
    display: block;
    margin: 5px 9px;
    font-size: 14px;
    color: #636261;
}
.head-row {
    background-color: #dcdcdc !important;
    color: #333333;
    font-weight: 600;
}
.head-row-dark {
    background-color: #585757 !important;
    color: white;
}
.head-row-light {
    background-color: #989898 !important;
    color: #ffffff;
}

.index-link {
    display: flex;
    justify-content: flex-end;
}
.index-link label {
    margin-right: 3px;
    display: block;
    color: white;
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 0px;
}
.link-block {
    margin-left: 6px;
    background-color: #444343;
    padding: 2px 7px 4px 7px;
    border-radius: 5px;
    font-size: 11px;
    color: #e0e0e0;
}
.link-block strong {
    margin-right: 7px;
    font-size: 10px;
}
.link-block a {
    color: #f36367;
}
.head-row td, .head-row th {
    padding: 10px 11px !important;
    border-color: #bfbebe !important;
}
.head-row-light th {
    border-color: #7d7d7d !important;
}

.search-selection .bootstrap-select .btn {
    /* border-radius: 55px 0 0 55px; */
    outline: 0;
    border-right: 0;
    border-color: #eaeaea;
    color: #444;
    background: #ffffff;
    background: -moz-linear-gradient(top,#437aa2 1%,#2c5f84 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#437aa2', endColorstr='#2c5f84', GradientType=0);
    box-shadow: none;
    border-right: 0px;
    border-width: 3px;
    min-width: 140px;
    outline: none !important
}
.search-selection .open>.dropdown-toggle.btn-default:hover {
    color: #555;
    background-color: #ffffff;
    border-color: #eaeaea;
}
.search-selection .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
{
    width: auto;
}

@media (min-width: 992px){
  .footer-bottom {
      padding: 10px 0;
  }
.footer-bottom .footer-right {
    float: right;
    margin-bottom: 0;
}
}
@media screen and (max-width: 1125px)
{
  .nav-tabs {
    display: flex;
    flex-wrap: wrap;
}
  .nav-tabs>li a {

    min-width: 135px;
    height: 100%;
}
}
@media screen and (max-width: 990px)
{
.welImg {
    position: static;
    width: auto;
}
.welImg {
    text-align: center;
}
.welcomeWrap img {
    text-align: center;
}
.welcomeWrap {
    padding: 60px 0;
}
}
@media (max-width: 992px){
  .flex-row {
    display: block;
}
.footer-bottom {
    text-align: center;
        padding: 14px 8px;
}
.footer-bottom ul, .footer-bottom p {
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
}
.view-block {
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    min-height: 450px;
}
.fullwidth-section.dark-bg{
  padding-left: 20px;
  padding-right: 20px
}
  .logo-box{
    display: none;
  }
}
@media (max-width: 570px)
{
  .saerch-product-inner {
    display: block;
}
.search-selection{
  margin-bottom: 10px
}
.search-selection .btn-group {
    width: 100% !important;
}
.search-box {
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0px;
}
.upload-prescription-box {
    width: 100%;
    margin-top: 10px;
}
.upload-prescription-box .btn{
  width: 100%
}
}
